:root {
    /* color */
    /* 변수 정의 */
    --color-background : linear-gradient( #ff6161, #9198e5);
    --color-white : #ffffff;
    --color-blue : #3b88c3;
    --color-yellow : #fbbe28;
    --color-pink : #fd7f84;
    
    /* size */
    --base--space : 0.5rem;
    --size-button : 3.5rem;
    --font-size : 1.5rem;
    --size-border : 0.5rem;
    --size-li-img : 3rem; 


    /* animation */
    --animation-duration : 0.3s;
}


body{
    margin: 0;
    min-height: 100vh;
    max-height: 100%;
    background: var(--color-background);
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
    margin-top: var(--base--space);
    transition: transform var(--animation-duration) ease ;
}

header > h1 {
    margin-left: var(--base--space);
}

nav{
    display: flex;
    align-items: center;
}

nav > *{
    margin: 0 var(--base--space);
    cursor: pointer;
    transition: transform var(--animation-duration) ease;
}

nav > img {
    height: var(--size-button);
}

nav > button {
    border: none;
    padding: var(--base--space);
    font-size: var(--font-size);
    border-radius: var(--size-border);
}

.blue{
    background-color: var(--color-blue);
}

.yellow{
    background-color: var(--color-yellow);
}

.pink{
    background-color: var(--color-pink);
}

ul {
    list-style: none;
    padding: 0px;
    width: 28rem;
}

.item{
    padding: calc(var(--base--space) * 2) 0;
    background-color: var(--color-white);
    margin: var(--base--space);
    border-radius: var(--size-border);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform var(--animation-duration) ease;
    /* hover에 transition 설정하면 hover 끝날 때 적용 안됨!!  */
}

.logo:hover,
nav > *:hover,
.item:hover{
    transform: scale(1.1);
}

.item > img {
    height: var(--size-li-img);
    width: var(--size-li-img);
    padding: 0 var(--base--space);
}

.item > span{
    font-weight: bold;
    font-size: calc(var(--font-size) * 0.8);
}

@keyframes shake {
	0%{
		transform: translate(1px);
	}
	10%{
		transform: translate(-1px,);
	}
	20%{
		transform: translate(-2px);
	}
	30%{
		transform: translate(1px);
	}
	40%{
		transform: translate(-1px);
	}
	50%{
		transform: translate(1px,);
	}
	60%{
		transform: translate(2px);
	}
	70%{
		transform: translate(-1px);
	}
	80%{
		transform: translate(2px,);
	}
	90%{
		transform: translate(-1px);
	}
	100%{
		transform: translate(2px);
	}
}

.shake_li{
    animation: shake 0.5s infinite;
}

.invisible {
    display: none;
}